* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bangers", cursive;
}

body {
  background: black;
}

#canvas1 {
  background: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* Center the canvas: */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  position: absolute;
  width: calc(100% - 20px);
  font-size: 22px;
  padding: 6px;
  margin: 10px;
  z-index: 100;
}
